@keyframes burn {
  from {
    transform: rotate(-2.5deg);
  }
  to {
    transform: rotate(2.5deg);
  }
}
* {
  margin: 0;
  padding: 0;
  transition: all 2s ease;
  font-family: "Share Tech";
}

.center {
  text-align: center;
}

.background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  filter: blur(30px);
}

.background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#app {
  display: block;
  width: 100vw;
  margin: 0;
  padding: 0;
  height: 100vh;
  position: relative;
}

#app .villaku {
  width: 100vw;
  position: fixed;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 50%);
  height: auto;
  z-index: 5;
}

#app .villaku.done {
  bottom: none;
  right: 0;
  top: 50%;
  width: 50%;
  transform: translate(-0%, -50%);
}

#app .villaku img {
  width: 100%;
}

#app .villaku > div {
  top: 0;
  width: 100%;
  height: auto;
  position: relative;
}

#app .villaku .fire.hidden {
  opacity: 0;
}

#app .villaku .fire {
  border-radius: 50%;
  position: absolute;
  transition: all 0.5s ease;
  opacity: 1;
  height: auto;
  animation: burn 0.5s ease infinite alternate;
}

.fire-one {
  top: 24%;
  left: 44%;
  width: 8%;
}

.fire-two {
  width: 7.8%;
  top: 20%;
  left: 37%;
}

.fire-three {
  width: 7.8%;
  top: 21%;
  right: 38.5%;
}

.fire-four {
  width: 6.5%;
  top: 14.2%;
  left: 41.5%;
}

.fire-five {
  width: 6.5%;
  top: 15%;
  right: 41.5%;
}

.content.hidden {
  opacity: 0;
  pointer-events: none;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  width: 50vw;
  height: 50vw;
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
  gap: 20px;
}

.content .bg {
  width: 100%;
  height: 100%;
  background: #ffffff90;
  border-radius: 30px;
  filter: blur(10px);
  position: absolute;
  z-index: -1;
}

.content img {
  width: 100px;
}
